@media (max-width : 992px){
    .aboutme{
        flex-direction: column;
    }
    .nav-text {
        font-size:250% ;
    }
    .nav-text2{
        font-size: 120%;
    }
}
@media (max-width : 600px){
    .nav-text {
        font-size:120% ;
    }
    .nav-text2{
        font-size: 50%;
    }
}